script(type='text/javascript' src='/javascripts/jquery.min.js').
script(type='text/javascript' src='/javascripts/jquery.validation.functions.js').
script(type='text/javascript' src='/javascripts/jquery.validate.js').
script(type='text/javascript' src="/javascripts/validator.min.js").
script(type='text/javascript' src="/javascripts/typeahead.min.js").
script(type='text/javascript' src="/javascripts/jquery.regex-selector.js").
script(src="/javascripts/bootstrap.min.js")
script(type='text/javascript' src="/javascripts/jquery.autocomplete.js")
script(type='text/javascript' src="/javascripts/jquery-ui.js")
link(rel='stylesheet', href='/stylesheets/jquery.validate.css')
link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
link(rel='stylesheet', href='/stylesheets/simple-sidebar.css')
link(rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css")

