html('lang=en')
    head
        title welcome page
        include head.jade
    include body.jade
        div(class="container")
            div(class="col-md-6 col-md-offset-2") 
                div(class="row" style="padding: 40px")
                    h6
                    | Welcome to the GIT